@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  background-color: whitesmoke;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.header-font {
  font-size: 4rem;
}

/* Navbar */

.navbar {
  background-color: black;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Abril Fatface", cursive;
}

.nav-item {
  padding: 1.05rem;
  font-size: 1.3rem;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

/* Home Page */

.jumbotron {
  height: 110vh;
}

.intro {
  background-image: url("./assets/images/stage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  width: 75%;
  margin: auto;
  position: relative;
  top: 40vh;
  padding: 1rem;
}

.intro h1 {
  font-size: 4rem;
  color: white;
}

.intro p {
  font-size: 2rem;
  color: white;
}

.model-header {
  text-align: center;
  padding: 0 15rem;
  margin-bottom: 1.5rem;
}

.model-header p {
  font-size: 1.2rem;
}

.home-button {
  width: 10rem;
  margin: 2rem 0;
}

.home-link {
  color: lightgray;
}

.home-link:hover {
  color: white;
  text-decoration: none;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 3rem;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

footer li {
  padding: 0 2rem;
  font-size: 1.2rem;
}

footer a {
  color: rgb(95, 94, 94);
}

footer a:hover {
  color: black;
  text-decoration: none;
}

.footer-nav {
  padding: 0;
  margin: 0;
  height: 50%;
}

footer hr {
  width: 50%;
  margin-top: 0;
}

/* Breadcrumbs */

.breadcrumb {
  margin: 6rem 0;
}

/* About Page */

.flex-column {
  border: dotted rgba(0,0,0,0.5) 2px;
  padding: 1.25rem;
  width: 50%;
  position: relative;
  top: 6rem;
  left: 3rem;
}

.flex-column li {
  padding: 0;
  width: 50%;
  margin: 0;
}

.about-content {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.about-content h1 {
  text-align: center;
}

.about-title {
  width: 100%;
  text-align: center;
}

/* Events Page */

.table {
  font-size: 1.2rem;
  margin: 2rem auto;
}

.table thead {
  font-size: 1.5rem;
}

#events-button {
  margin: 5rem 0;
}

/* FAQ Page */

.faq-header {
    padding: 0;
}

.faq-header button {
    font-size: 1.25rem;
}

.faq-answer {
    font-size: 1.2rem;
    padding: 2rem;
}

/* Contact Page */

.contact-info {
  text-align: right;
  font-size: 1.25rem;
}

.contact-info h3 {
  text-align: right;
  text-decoration: underline;
  margin-top: .75rem;
}

.contact-row {
  margin: 4rem auto;
}

#map {
  width: 75%;
  margin: 0 auto;
}

.contact-title {
  text-align: center;
}

label {
  padding: .25rem;
}

form {
  font-size: 1.2rem;
}

.form-check-label {
  padding: .75rem;
}

form button {
  width: 100%;
  height: 3rem;
}

