@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  background-color: whitesmoke;
  font-family: "Abril Fatface", cursive;
}

.navbar-brand {
  font-size: 2.5rem;
}

.nav-item {
  padding: 1.05rem;
  font-size: 1.3rem;
  border: black 5px;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.jumbotron {
  height: 110vh;
}

.intro {
  background-image: url("./img/stage.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.75);
  display: block;
  width: 75%;
  margin: auto;
  position: relative;
  top: 40vh;
  padding: 1rem;
}

.intro h1 {
  font-size: 4rem;
  color: white;
  background-color:rgba(0, 0, 0, 0.75);
}

.intro p {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}


